@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Maven Pro', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

html, body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

li {
    list-style-type: none;
}



/* Typography */

h1 {

    color: #F97316;
    font-weight: 800;
    font-size: 3em;
}

h2 {

    color: #fff;
    font-size: 1.3em;
}

h3 {
 
    color: #F97316;
    font-weight: 300;
}

h4 {

    color:#5a5a5a;
}

p {

    color: #fff;
}

button {
    font-family: 'Maven Pro', sans-serif;
    color: #F97316;
    font-size: 1em;
}

a {
    font-family: 'Ebrima';
    letter-spacing: 0.1em;
    font-size: 0.8em;
}
